In [4]:
import os
import pandas as pd

features = pd.read_csv('Features data set.csv')
sales = pd.read_csv('sales data-set.csv')
stores = pd.read_csv('stores data-set.csv')

#Print Shape, Column Names, Dataframe Head, 
print('Features Data', '\n--------------------', '\nShape:', features.shape, "\nColumns:",features.columns.tolist(), '\n', features.head(), '\n====================')
print('Sales Data', '\n--------------------', '\nShape:', sales.shape, "\nColumns:",sales.columns.tolist(), '\n', sales.head(), '\n====================')
print('Stores Data', '\n--------------------', '\nShape:', stores.shape, "\nColumns:",stores.columns.tolist(), '\n', stores.head())

Features Data
--------------------
Shape: (8190, 12)
Columns: ['Store', 'Date', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment', 'IsHoliday']
    Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0      1  05/02/2010        42.31       2.572        NaN        NaN
1      1  12/02/2010        38.51       2.548        NaN        NaN
2      1  19/02/2010        39.93       2.514        NaN        NaN
3      1  26/02/2010        46.63       2.561        NaN        NaN
4      1  05/03/2010        46.50       2.625        NaN        NaN

   MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0        NaN        NaN        NaN  211.096358         8.106      False
1        NaN        NaN        NaN  211.242170         8.106       True
2        NaN        NaN        NaN  211.289143         8.106      False
3        NaN        NaN        NaN  211.319643         8.106      False
4        NaN        NaN        NaN  211.350143         8.106      False
====================
Sales Data
--------------------
Shape: (421570, 5)
Columns: ['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday']
    Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False
====================
Stores Data
--------------------
Shape: (45, 3)
Columns: ['Store', 'Type', 'Size']
    Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [6]:
#Merge dataframes using pd.merge 
df=pd.merge(sales,features, on=['Store','Date', 'IsHoliday'], how='left')
dfmerged=pd.merge(df,stores, on=['Store'], how='left')

#Convert dates into python date time object
dfmerged['Date'] = pd.to_datetime(dfmerged['Date'])

print('dfmerged Data', '\n--------------------', '\nShape:', dfmerged.shape, "\nColumns:",dfmerged.columns.values, '\n', dfmerged.head())

dfmerged Data
--------------------
Shape: (421570, 16)
Columns: ['Store' 'Dept' 'Date' 'Weekly_Sales' 'IsHoliday' 'Temperature'
 'Fuel_Price' 'MarkDown1' 'MarkDown2' 'MarkDown3' 'MarkDown4' 'MarkDown5'
 'CPI' 'Unemployment' 'Type' 'Size']
    Store  Dept       Date  Weekly_Sales  IsHoliday  Temperature  Fuel_Price  \
0      1     1 2010-05-02      24924.50      False        42.31       2.572
1      1     1 2010-12-02      46039.49       True        38.51       2.548
2      1     1 2010-02-19      41595.55      False        39.93       2.514
3      1     1 2010-02-26      19403.54      False        46.63       2.561
4      1     1 2010-05-03      21827.90      False        46.50       2.625

   MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5         CPI  \
0        NaN        NaN        NaN        NaN        NaN  211.096358
1        NaN        NaN        NaN        NaN        NaN  211.242170
2        NaN        NaN        NaN        NaN        NaN  211.289143
3        NaN        NaN        NaN        NaN        NaN  211.319643
4        NaN        NaN        NaN        NaN        NaN  211.350143

   Unemployment Type    Size
0         8.106    A  151315
1         8.106    A  151315
2         8.106    A  151315
3         8.106    A  151315
4         8.106    A  151315

In [7]:
#Print Datatypes
print(dfmerged.dtypes)

Store                    int64
Dept                     int64
Date            datetime64[ns]
Weekly_Sales           float64
IsHoliday                 bool
Temperature            float64
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
MarkDown4              float64
MarkDown5              float64
CPI                    float64
Unemployment           float64
Type                    object
Size                     int64
dtype: object

In [8]:
#Review the column names, null value counts and data types of dfmerged using .info()
print(dfmerged.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Temperature   421570 non-null  float64
 6   Fuel_Price    421570 non-null  float64
 7   MarkDown1     150681 non-null  float64
 8   MarkDown2     111248 non-null  float64
 9   MarkDown3     137091 non-null  float64
 10  MarkDown4     134967 non-null  float64
 11  MarkDown5     151432 non-null  float64
 12  CPI           421570 non-null  float64
 13  Unemployment  421570 non-null  float64
 14  Type          421570 non-null  object
 15  Size          421570 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(10), int64(3), object(1)
memory usage: 51.9+ MB
None

In [11]:
#Print the range of column values using .agg() and use .T to transpose for readability
print(dfmerged.agg([min, max]).T)

                              min                  max
Store                           1                   45
Dept                            1                   99
Date          2010-01-10 00:00:00  2012-12-10 00:00:00
Weekly_Sales             -4988.94               693099
IsHoliday                   False                 True
Temperature                 -2.06               100.14
Fuel_Price                  2.472                4.468
MarkDown1                    0.27              88646.8
MarkDown2                 -265.76               104520
MarkDown3                   -29.1               141631
MarkDown4                    0.22              67474.9
MarkDown5                  135.16               108519
CPI                       126.064              227.233
Unemployment                3.879               14.313
Type                            A                    C
Size                        34875               219622

In [12]:
#Review Summary Statistics
print(dfmerged.describe())

               Store           Dept   Weekly_Sales    Temperature  \
count  421570.000000  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123      60.090059
std        12.785297      30.492054   22711.183519      18.447931
min         1.000000       1.000000   -4988.940000      -2.060000
25%        11.000000      18.000000    2079.650000      46.680000
50%        22.000000      37.000000    7612.030000      62.090000
75%        33.000000      74.000000   20205.852500      74.280000
max        45.000000      99.000000  693099.360000     100.140000

          Fuel_Price      MarkDown1      MarkDown2      MarkDown3  \
count  421570.000000  150681.000000  111248.000000  137091.000000
mean        3.361027    7246.420196    3334.628621    1439.421384
std         0.458515    8291.221345    9475.357325    9623.078290
min         2.472000       0.270000    -265.760000     -29.100000
25%         2.933000    2240.270000      41.600000       5.080000
50%         3.452000    5347.450000     192.000000      24.600000
75%         3.738000    9210.900000    1926.940000     103.990000
max         4.468000   88646.760000  104519.540000  141630.610000

           MarkDown4      MarkDown5            CPI   Unemployment  \
count  134967.000000  151432.000000  421570.000000  421570.000000
mean     3383.168256    4628.975079     171.201947       7.960289
std      6292.384031    5962.887455      39.159276       1.863296
min         0.220000     135.160000     126.064000       3.879000
25%       504.220000    1878.440000     132.022667       6.891000
50%      1481.310000    3359.450000     182.318780       7.866000
75%      3595.040000    5563.800000     212.416993       8.572000
max     67474.850000  108519.280000     227.232807      14.313000

                Size
count  421570.000000
mean   136727.915739
std     60980.583328
min     34875.000000
25%     93638.000000
50%    140167.000000
75%    202505.000000
max    219622.000000

In [13]:
# print out the percent of each feature that is missing
nas=pd.DataFrame(dfmerged.isnull().sum().sort_values(ascending=False)/len(dfmerged),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

            percent
MarkDown2  0.736110
MarkDown4  0.679847
MarkDown3  0.674808
MarkDown1  0.642572
MarkDown5  0.640790

In [20]:
#Fill missing values values with 0 using fillna and check percent of each feature that is missing using the code from above 
dfmerged['MarkDown1'].fillna(0, inplace=True)
dfmerged['MarkDown1'].fillna(0, inplace=True)
dfmerged['MarkDown1'].fillna(0, inplace=True)
dfmerged['MarkDown1'].fillna(0, inplace=True)

from numpy import nan
dfmerged.replace({'MarkDown1': {nan: 0}, 'MarkDown2': {nan: 0}, 'MarkDown3': {nan: 0}, 'MarkDown4': {nan: 0}, 'MarkDown5': {nan: 0}}, inplace=True)

# print out the percent of each feature that is missing, it can be seen that there are no missing values
nas=pd.DataFrame(dfmerged.isnull().sum().sort_values(ascending=False)/len(dfmerged),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

Empty DataFrame
Columns: [percent]
Index: []

In [21]:
print(dfmerged.dtypes)

Store                    int64
Dept                     int64
Date            datetime64[ns]
Weekly_Sales           float64
IsHoliday                 bool
Temperature            float64
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
MarkDown4              float64
MarkDown5              float64
CPI                    float64
Unemployment           float64
Type                    object
Size                     int64
dtype: object

In [22]:
#Check for duplicate rows, it can be seen there are no duplicate rows
duplicateRowsDF = dfmerged[dfmerged.duplicated()]
duplicateRowsDF

Empty DataFrame
Columns: [Store, Dept, Date, Weekly_Sales, IsHoliday, Temperature, Fuel_Price, MarkDown1, MarkDown2, MarkDown3, MarkDown4, MarkDown5, CPI, Unemployment, Type, Size]
Index: []

In [23]:
#Export the processed dataframe as a csv file to the data folder as retailDataCleaned.csv
dfmerged.to_csv('~/Documents/Capstone2/data/retailDataCleaned.csv', index=False)